@font-face {
    font-family: "Blackletter";
    src: url(BLACH___.TTF);
}

@font-face {
    font-family: "Typewriter";
    src: url(JMH\ Typewriter.otf);
}


*{
    background-color: black;
    color: white;
    font-family: "Typewriter", serif;
}

html,body{
    margin: 0;
    height: 100%;
}

#room{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

#room__info{
    display: flex;
    width: 100%;
    justify-content: center;
}

#room__desc{
    font-size: 20px;
}